body {
  background-image: url("https://i.postimg.cc/HsqXWCF1/image-processing20220323-15453-1ln1hrt.png");
  background-size: 75%; 
  background-position: center; 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  background-color: #dcdcdc;
}